import ieee_investment_ranking_challenge_evaluator

class Config:
    redis_host = "localhost"
    redis_port = 6379
    redis_db = 7
    challenge_id = "IEEEInvestmentRankingChallenge"
    redis_namespace = challenge_id

    CROWDAI_TOKEN="<CROWDAI_TOKEN>"
    CROWDAI_GRADER_URL = "https://www.crowdai.org/api/external_graders/"

    crowdai_round_id_map = {
      1 : 28,
      2 : 39
    }

    answer_file_path = "data/ground_truth_w_2017.csv"
    evaluator = ieee_investment_ranking_challenge_evaluator.IEEEInvestmentRankingChallengeEvaluator(answer_file_path)

    primary_score_name = "Spearman correlation"

    AWS_S3_BUCKET = "crowdai-shared"
    S3_UPLOAD_PATH = "ieee_investment_ranking_challenge"
    AWS_ACCESS_KEY_ID = "<AWS_ACCESS_KEY_ID>"
    AWS_SECRET_ACCESS_KEY = "<AWS_SECRET_ACCESS_KEY>"

    TEMP_STORAGE_DIRECTORY_PATH="temp/"
    DEBUG_MODE=False
